CREATE TABLE profiles (id UUID PRIMARY KEY REFERENCES auth.users(id), first_name VARCHAR(255) NOT NULL, last_name VARCHAR(255) NOT NULL, national_id VARCHAR(255) NOT NULL UNIQUE, phone_number VARCHAR(255) NOT NULL, role VARCHAR(50) NOT NULL CHECK (role IN ('admin', 'guest')), created_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::text, NOW()) NOT NULL);
