CREATE TABLE bookings (id UUID DEFAULT uuid_generate_v4() PRIMARY KEY, guest_id UUID REFERENCES profiles(id) NOT NULL, room_id UUID REFERENCES rooms(id) NOT NULL, check_in_date TIMESTAMP WITH TIME ZONE NOT NULL, check_out_date TIMESTAMP WITH TIME ZONE NOT NULL, status VARCHAR(20) CHECK (status IN ('pending', 'confirmed', 'cancelled', 'completed')) NOT NULL DEFAULT 'pending', total_price DECIMAL(10,2) NOT NULL, number_of_guests INTEGER NOT NULL CHECK (number_of_guests > 0), special_requests TEXT, created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP, updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP, CONSTRAINT valid_dates CHECK (check_out_date > check_in_date));
